version: "3.9"

services:

  backend:
    container_name: iris-backend
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    networks:
      - iris-net

  frontend:
    container_name: iris-frontend
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    depends_on:
      - backend
    networks:
      - iris-net

networks:
  iris-net:
    driver: bridge
